*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 21px;
}

body {
    min-height: 100vh;
    position: relative;
}

.header__title {
    font-weight: 600;
}

.header {
    padding: 1.5em 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.form__input-wrapper {
    width: 100%;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.form__input-wrapper label {
    font-size: 0.8em;
    color: gray;
    font-weight: 500;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.submit-button {
    background-color: black;
    color: white;
    width: 10em;
    padding: 0.7em 0;
    outline: none;
    border: none;
    border-radius: 0.6em;
    font-weight: 600;
    display: inline-block;
    transition: all ease-in-out 0.2s;
    scale: 1;
}

.submit-button:hover,
.submit-button:active {
    opacity: 0.8;
    scale: 0.95;
    cursor: pointer;
}

input {
    outline: none;
    border: solid 1px lightgray;
    border-radius: 0.3em;
    padding: 0.2em;
    box-shadow: rgba(99, 99, 99, 0.08) 0px 2px 8px 0px;
}

.checkmark {
    color: green;
}

.blur-background {
    position: absolute;
    inset: 0;
    z-index: 1;
    backdrop-filter: blur(0.2rem);
    display: grid;
    place-items: center;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 80%;
    max-width: 350px;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-radius: 1em;
    padding: 1.2em;
    opacity: 0;
    transition: opacity ease-in-out 0.2s;
}

.popup h2 {
    font-size: 1.1rem;
}

.close-button {
    align-self: flex-end;
    width: 5em;
}

.hidden {
    display: none;
}

.exclamation-icon {
    color: darkred;
}

.icon {
    width: 3em;
}

.full-opacity {
    opacity: 1 !important;
}
